[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-plugins/dotbot-omnipkg"]
	path = dotbot-plugins/dotbot-omnipkg
	url = https://github.com/Code-Maniac/dotbot-omnipkg.git
[submodule "ghostty/catppuccin"]
	path = ghostty/catppuccin
	url = https://github.com/catppuccin/ghostty.git
[submodule "tmux/gpakosz"]
	path = tmux/gpakosz
	url = https://github.com/gpakosz/.tmux.git
