environment {
    PATH "/home/snppg/.local/bin:/usr/local/bin:/usr/bin"
}

spawn-at-startup "niri-wallpaper"
spawn-at-startup "ashell"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
