spawn-at-startup "swaybg" "-m" "fill" "-i" "/usr/share/backgrounds/fedora-workstation/glasscurtains_dark.webp"
spawn-at-startup "waybar"
spawn-at-startup "mako"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
